<html>
  <head>
    <title>Swamp Thing</title>
    <link href="/static/swamp.css" rel="stylesheet">
  </head>
  <body>
    <h1>Swamp Thing</h1>
    <form id="login">
      Enter your name: <input id="name" type="text" name="name"></input><br>
      <input id="send" type="submit"></input>
    </form>

    <!-- some divs for the javascript to operate on -->
    <div id="login-name"></div>
    <div id="work"></div>
    <div id="data"></div>
    <div id="info"></div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/swamp.js"></script>
  </body>
</html>
